@font-face {
	font-family: TwitterChirp;
	src: url(https://abs.twimg.cTwitterChirpExtendedHeavyom/fonts/chirp-extended-heavy-web.woff2) format('woff2');
	src: url(https://abs.twimg.com/fonts/chirp-extended-heavy-web.woff) format('woff');
	font-weight: 800;
	font-style: 'normal';
	font-display: 'swap';
  }
  @font-face {
	font-family: TwitterChirp;
	src: url(https://abs.twimg.com/fonts/chirp-regular-web.woff2) format('woff2');
	src: url(https://abs.twimg.com/fonts/chirp-regular-web.woff) format('woff');
	font-weight: 400;
	font-style: 'normal';
	font-display: 'swap';
  }
  @font-face {
	font-family: TwitterChirp;
	src: url(https://abs.twimg.com/fonts/chirp-medium-web.woff2) format('woff2');
	src: url(https://abs.twimg.com/fonts/chirp-medium-web.woff) format('woff');
	font-weight: 500;
	font-style: 'normal';
	font-display: 'swap';
  }
  @font-face {
	font-family: TwitterChirp;
	src: url(https://abs.twimg.com/fonts/chirp-bold-web.woff2) format('woff2');
	src: url(https://abs.twimg.com/fonts/chirp-bold-web.woff) format('woff');
	font-weight: 700;
	font-style: 'normal';
	font-display: 'swap';
  }
  @font-face {
	font-family: TwitterChirp;
	src: url(https://abs.twimg.com/fonts/chirp-heavy-web.woff2) format('woff2');
	src: url(https://abs.twimg.com/fonts/chirp-heavy-web.woff) format('woff');
	font-weight: 800;
	font-style: 'normal';
	font-display: 'swap';
  }
*, *::before, *::after {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
:root {
	--main-color:rgb(255, 255, 255);
	--border-color:rgb(118, 118, 118);
	--shadow-color:rgb(118, 118, 118);
}
html {
	color: white;
	font-size:15px;
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body {
	background-color:#0a0404;
	color:white;
}
a {
	text-decoration:none;
	color:white;
}
button {
	cursor:pointer;
}
input:focus {
	outline:none;
}
img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor:pointer;
}
.container {
	display:grid;
	grid-template-columns:243px auto 350px;
	margin:0 auto;
	max-width:1200px;
}
.left-side {
	position:fixed;
	height:100vh;
	width:240px;
	padding:0 12px 0 12px;
	display:flex;
	flex-direction:column;
	align-items:flex-end;
}
.left-navbar {
	width:245px;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.left-side svg, .content-header svg, .post-header svg, .trends svg, .left-side .topic-svg {
	fill:#fff;
	height:1.75rem;
}
.left-navbar > div:not(.profile-btn) > div:nth-child(2) svg, .left-navbar > div:not(.profile-btn) > div:nth-child(2) span {
	fill:var(--main-color);
	color:var(--main-color);
}
.left-navbar > div:not(.profile-btn) > div:nth-child(1) {
	padding:12px;
}
.left-navbar a {
	display:flex;
	padding:4px 0;
}
.left-navbar a div {
	display:flex;
	padding:12px;
	align-items:center;
	border-radius:9999px;
}
.left-navbar a div:hover {
	background-color:var(--shadow-color);
}
.left-navbar a div:hover svg, .left-navbar a div:hover span {
	color:var(--main-color);
	fill:currentColor;
	
}
.left-navbar a span {
	font-size:20px;
	font-weight:bold;
	margin-left:20px;
	margin-right:16px;
}
.tweet-btn {
	font-family:var(--main-font);
	font-size:16px;
	width:90%;
	height:46px;
	font-weight:700;
	border:none;
	background-color:var(--main-color);
	border-radius:30px;
	color:inherit;
	margin:16px 0;
}
.left-side .right-column {
	display:flex;
	align-items:center;
}
.content {
	border:1px solid var(--border-color);
	border-top:none;
	border-bottom:none;
}
.content-header {
	padding:0 16px;
	max-width:1000px;
	display:flex;
	align-items:center;
	height:53px;
	justify-content:space-between;
	border-bottom:1px solid var(--border-color);
}
.content-header div, .trends-header div, .trends-item > div > div {
	display:flex;
	margin-right:-10px;
	border-radius:100%;
	align-items:center;
	justify-content:center;
	width:38px;
	height:38px;
	cursor:pointer;
}
.trends-header div{
	margin-right:0;
}
.trends-item > div {
	position:relative;
}
.trends-item > div > div {
	position:absolute;
	width:34.75px;
	height:34.75px;
	top:-7px;
	right:0px;
}
.content-header div:hover, .trends-header div:hover, .trends-item > div > div:hover {
	background-color:var(--shadow-color);
}
 .trends-item > div > div:hover svg {
	fill:var(--main-color);
 }
.content-header span {
	font-size:20px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-weight:900;
}
.content-header svg, .trends-header svg {
	fill:var(--main-color);
	width:22px;
	height:22px;
}
.content-header, .tweet, .post, .replies, .post-reply {
	padding:15px;
}
.tweet, .post-reply {
	display:flex;
	border-bottom:1px solid var(--border-color);
}

.post-reply {
	display: none;
}
.post:hover, .replies:hover {
	background-color:rgba(255,255,255, 0.07);
}
.profile-btn {
	display:flex;
	margin:12px 0;
	padding:12px;
	cursor:pointer;
	width:calc(100% + 12px);
	border-radius:9999px;
}
.profile-btn:hover {
	background-color:var(--shadow-color);
}
.profile-btn img {
	width:40px;
	height:40px;
}
.profile-btn strong {
	display:flex;
	align-items:center;
}
.profile-btn svg, .details svg, .search-bar svg{
	height:1.25em;
	margin-left:5px;
	vertical-align:bottom;
}
.tag, .time, .dot, .details svg{
	color:rgb(136, 153, 166);
	fill:rgb(136, 153, 166);
	display:block;
}
.right-column {
	margin-left:15px;
}
.right-column, .right-column form, .right-column input {
	width:100%;
}
.profile-image {
	border-radius:100%;
	width:48px;
	height:48px;
}
.right-column input {
	height:56px;
	background-color:transparent;
	border:none;
}
.right-column input::placeholder, .search::placeholder {
	font-size:20px;
	color:#8899A6;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.tweet .right-column .bottom-row, .post-reply .right-column .bottom-row {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-top:12px;
}
.tweet .right-column .bottom-row .buttons > div, .post-reply .right-column .bottom-row .buttons > div{
	width:38px;
	height:38px;
	border-radius:100%;
	cursor:pointer;
	display:flex;
	align-items:center;
	justify-content:center;
}
.tweet .right-column .bottom-row .buttons, .post-reply .right-column .bottom-row .buttons{
	display:flex;
}
.tweet .right-column .bottom-row .buttons > div:hover, .post-reply .right-column .bottom-row .buttons > div:hover  {
	background: var(--shadow-color);
}
.tweet .right-column .bottom-row svg, .post-reply .right-column .bottom-row svg, .close-svg{
	width:22px;
	height:22px;
	fill:var(--main-color);
}
.close-svg {
	opacity: 0.6;
}
.tweet .right-column .bottom-row .tweet-btn, .post-reply .right-column .bottom-row .tweet-btn{
	width:90px;
	opacity:0.5;
	margin:0;
}

.post, .replies {
	display:flex;
	border-bottom:1px solid var(--border-color);
}
.post-header {
	display:flex;
	justify-content:space-between;
}
.BRUH{
	display:flex;
	align-items:center;
}
.dot {
	line-height:20px;
	font-size:15px;
	margin-top:-6px;
}
.details {
	display: none;
	cursor:pointer;
	padding:6px;
	border-radius:100%;
	justify-content:center !important;
}
.details svg, .details .close-svg{
	margin:0;
}
.details:hover {
	background-color:var(--shadow-color);
}
.details:hover svg, .details:hover .close-svg {
	fill:var(--main-color);
}
.post-header .tag, .post-header .time, .dot {
	margin-left:4px;
}
.post .bottom-row, .replies .bottom-row {
	max-width:425px;
	margin-top:12px;
	justify-content:space-between;
}
.post .bottom-row, .post .bottom-row > div, .replies .bottom-row, .replies .bottom-row > div {
	display:flex;
	align-items:center;
	color:rgb(136, 153, 166);
	cursor:pointer;
}
.post .bottom-row > div, .replies .bottom-row > div {
	margin:-8px;
}
.post .bottom-row > div > div, .replies .bottom-row > div > div {
	border-radius:9999px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.post .bottom-row > div:hover > div, .replies .bottom-row > div:hover > div {
	background-color:var(--shadow-color);
}
 .bottom-row > div:hover > div svg, .post .bottom-row > div:hover > span, .bottom-row > div:hover > div svg, .replies .bottom-row > div:hover > span  {
	color:var(--main-color);
	fill:currentColor;
 }
 .post .bottom-row > div:nth-child(2):hover > div, .replies .bottom-row > div:nth-child(2):hover > div {
	background-color:rgba(23,191,99, 0.2);
}
 .bottom-row > div:nth-child(2):hover > div svg, .post .bottom-row > div:nth-child(2):hover > span, .replies .bottom-row > div:nth-child(2):hover > span {
	color:rgb(23, 191, 99);
	fill:currentColor;
 }
  .post .bottom-row > div:nth-child(3):hover > div, .replies .bottom-row > div:nth-child(3):hover > div {
	background-color:rgba(224,36,94, 0.2);
}
 .bottom-row > div:nth-child(3):hover > div svg, .post .bottom-row > div:nth-child(3):hover > span, .replies .bottom-row > div:nth-child(3):hover > span {
	color:rgb(224,36,94);
	fill:currentColor;
 }
.post .bottom-row span, .replies .bottom-row span {
	font-size:13px;
}
.post .bottom-row span, .post .bottom-row svg, .replies .bottom-row span, .replies .bottom-row svg {
	fill:rgb(136, 153, 166);
	color:inherit;
	font-family:inherit;
}
.post .bottom-row svg, .replies .bottom-row svg {
	margin:8px;
	width:1.25em;
	height:1.25em;
}
.post .bottom-row span, .replies .bottom-row span {
	padding:0 12px;
	line-height:20px;
}
.right-side {
	padding:12px 0 64px 0;
	width:350px;
	margin-left:30px;
}
.search-bar {
	position:relative;
}
.search-bar svg {
	position:absolute;
	top:13px;
	left:12px;
	fill:#8899A6;
}
.search {
	border-radius:30px;
	border:none;
	width:350px;
	height:46px;
	background-color:rgb(118, 118, 118);
	padding-left:60px;
}
.search::placeholder {
	font-size:16px;
}
.trends, .who-to-follow {
	background-color:rgb(60, 60, 60);
	border-radius:15px;
	margin-top:12px;
}
.trends-header, .trends-item, .who-to-follow-header, .user {
	padding:12px 16px;
	border-bottom:1px solid var(--border-color);
}
.trends-header > h2 {
	display:flex;
	justify-content:space-between;
}
.trends-header svg {
	fill:var(--main-color);
}
.trends-item svg, .trends-header svg {
	vertical-align:text-bottom;
}
.trends-item {
	display:flex;
	flex-direction:column;
	cursor:pointer;
	transition-duration:background-color 0.2s;
}
.trends-item:hover, .more-btn:hover, .user:hover {
	background-color:rgba(255,255,255, 0.07);
}
.trends-item > div {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.trends-item span, .trends-item svg {
	font-size:13px;
	height:1.25rem;
	color:rgb(136, 153, 166);
	fill:rgb(136, 153, 166);
}
.trends-item > span {
	margin-top:4px;
}
.more-btn {
	padding:16px;
	color:var(--main-color);
	cursor:pointer;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.user {
	display:flex;
	align-items:center;
	cursor:pointer;
}
.user img {
	margin-right:12px;
}
.user > div {
	width:100%;
	display:flex;
	justify-content:space-between;
}
.follow-btn {
	min-height:32px;
	min-width:32px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:15px;
	padding:0 1em;
	color:var(--main-color);
	border:1px solid currentColor;
	border-radius:9999px;
	background-color:transparent;
}
.follow-btn:hover {
	background-color:var(--shadow-color);
}
.line {
	background-color:rgba(0, 0, 0, 0);
	height:1px;
	border:1px solid rgb(25, 39, 52); 
	margin:16px 0;
	border-radius:16px;
}
.right-side footer nav {
	padding:0 16px;
	display:flex;
	flex-wrap:wrap;
}
.right-side footer span, .right-side footer svg{
	height:1em;
	vertical-align:text-bottom;
	margin:2px 0;
	padding-right:12px;
	line-height:16px;
	color:rgb(136, 153, 166);
	fill:currentColor;
	font-size:13px;
}
.right-side footer svg {
	margin:0;
}
.right-side footer span:not(:last-child):hover {
	cursor:pointer;
	text-decoration:underline;
}
.search, .tweet input, .post-reply input {
	color:#fff;
}

.sigma-logo-container{
	height: 100px;
	width: 200px;
}

.sigma {
	max-width: 100%;
	max-height: 100%;
}

.welcome {
	font-size: large;
}

.bg-modal {
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.modal-content {
	width: 35vw;
	height: auto;
	background-color: white;
	border-radius: 16px;
	z-index: 9;
	display: flex;
	flex-direction: column;
	position: relative;
}

.gif-search {
	min-width: 90%;
	height: 46px;
	border-radius: 30px;
	padding-left: 20px;
	border: 1px solid rgb(118, 118, 118);
}


.close {
	margin-left: 0.5vw;
	transform: rotate(45deg);
	font-size: 2vw;
}

.gif-forum {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	min-width: 100%;
}

.replies {
	display: none;
}

.details {
	display: unset;
	display: none;
}

.textLimiter { /* wraps up the text when it hits the limit of the box */
	overflow:hidden;
	display:inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 50px;
}